{{>layout/header}}
<div class="container">
    <h1>{{entityName}} {{#i18n}}system.entity.list{{/i18n}}</h1>
    {{>components/messages}}
    {{#isSuper}}
        {{>components/new_entity}}
    {{/isSuper}}
    {{#entity_list.0}}
    <div class="filtered-list">
        <ul id="notification-list_toggle-menu" class="nav nav-pills mb-2">
            {{>components/notification_list_nav_items}}
        </ul>
        <div class="table-responsive-md">
        <table id="notification-list" class="table table-striped table-bordered filtered">
        <thead>
        <tr>
            <th class="page-to-today-column">{{#i18n}}notification.dateScheduled.label{{/i18n}}</th>
            <th>{{#i18n}}notification.recipient.label{{/i18n}}</th>
            <th class="filter-column">{{#i18n}}notification.notificationStatus.label{{/i18n}}</th>
            <th>{{#i18n}}notification.notificationType.label{{/i18n}}</th>
            <th>{{#i18n}}notification.notificationMetadata.label{{/i18n}}</th>
            <th>{{#i18n}}notification.dateTimeProcessed.label{{/i18n}}</th>
            <th>{{#i18n}}notification.notificationStatusMetadata.label{{/i18n}}</th>
            <th>{{#i18n}}system.entity.actions{{/i18n}}</th>
        </tr>
        </thead>
        <tbody>
        {{#entity_list}}
        <tr>
            <td data-order="{{#dateScheduledIso}}{{.}}{{/dateScheduledIso}}">{{#dateScheduled}}{{.}}{{/dateScheduled}}</td>
            <!--<td>{{#recipient}}<a href="{{req.contextPath}}/admin/participant/{{id}}">{{label}}</a> ({{#participantType}}{{.}}{{/participantType}}){{/recipient}}</td>-->
            <td>{{#notificationRecipientView}}{{{.}}}{{/notificationRecipientView}}</td>
            <td>{{#notificationStatus}}{{label}}{{/notificationStatus}}</td>
            <td>{{#notificationType}}{{.}}{{/notificationType}}</td>
            <td>{{#notificationMetadataView}}{{{.}}}{{/notificationMetadataView}}</td>
            <td>{{#dateTimeProcessed}}{{.}}{{/dateTimeProcessed}}</td>
            <td>
                {{#statusMetadata}}
                    {{#validationResult}}
                        {{^successful}}
                            Validation failed: {{#invalidReason}}{{.}}{{/invalidReason}}
                        {{/successful}}
                    {{/validationResult}}
                    {{#dispatchResult}}
                        {{#successful}}
                            No errors
                        {{/successful}}
                        {{^successful}}
                            Send failed: {{#errorMessage}}{{.}}{{/errorMessage}}
                        {{/successful}}                       
                    {{/dispatchResult}}
                {{/statusMetadata}}
            </td>
            <td><a href="{{req.contextPath}}{{baseRoute}}/{{id}}">View</a></td>
        </tr>
        {{/entity_list}}
        </tbody>
        </table>
    </div>
    {{/entity_list.0}}
</div>
{{>layout/footer}}